/* importe do google fontes */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

/* GERAIS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'poppins';
}


:root {
    --main: #FF8827;
    --body: #fff;
    --text: #333333;
    --box: 10.7168px 10.7168px 21.4335px rgba(182, 182, 182, 0.3);
}

/* BODY */

.barraca-body,
.telaFregues-body,
.index-body {
    overflow-x: hidden;
}

.sobreNos-body,
.telaFregues-body,
.telaFeirante-body,
.body,
.login-body,
.index-body,
.cadastro-body,
.cadastroEntregador-body,
.barraca-body,
.cadastroFeirante-body,
.cadastroFregues-body,
.contato-body,
.finalizarPedido-body,
.meuPerfilFregues,
.painelADM-body,
.pedidosFeirantes-body {
    background-color: var(--body);
}

/* NAVBAR */

.navbar {
    background-color: var(--body);
    padding-top: 20px;
    border-bottom: var(--main) 2px solid;
    max-width: 100%;
    font-weight: 700;
}

.nav-item #darkmode-icon {
    margin-right: 60px;
}

.telaFeirante-body #darkmode-icon {
    margin-right: 40px;
}

#darkmode-icon {
    margin-left: 10px;
}

.navbar .nav-item .nav-link {
    color: var(--main);
    font-family: 'Poppins', sans-serif;
}

.navbar .nav-item .nav-link:hover {
    text-decoration: underline;
}

.navbar-nav {
    margin-left: 150px;
}

.nav-item {
    margin-left: 50px;
}

.index-body .nav-item {
    margin-left: 30px;
}

i {
    color: var(--main);
    font-size: 30px;
    margin-left: 20px;
}

i:hover {
    opacity: .65;
}

.icones {
    margin-left: 50px;
    margin-right: 50px;
}

.navbar-brand img {
    transform: scale(0.8);
}

.botaoicon,
#toggle {
    border: none !important;
    background-color: transparent;
}

.search-form {
    position: absolute;
    top: 15%;
    right: 23%;
    background-color: var(--body);
    color: #333;
    width: 800px;
    height: 50px;
    border: 2px solid var(--main);
    border-radius: 10px;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.search-form.active {
    transform: scaleY(1);
}

.search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    text-transform: none;
    color: #333;
}

.search-form input::placeholder {
    color: var(--main);
    font-size: 20px;
}

.search-form label {
    cursor: pointer;
    font-size: 25px;
    padding: 10px;
    color: var(--main);
}

/* BOOTSTRAP */

.dropdown-toggle::after {
    color: var(--text);
}

/*CARROSSEL*/

.carousel-inner {
    margin-top: 80px;
}

.carousel-indicators button {
    background-color: var(--main) !important;
    margin-left: 40px !important;
    transform: scale(1.8);
}

/*SECTION - APP */

.app_Section {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.app_preview {
    background-color: var(--main);
    height: 500px;
    border-radius: 15px;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.descricao_app {
    color: #fff;
}

.descricao_app p {
    font-size: 20px;
    text-align: center;
}

.descricao_app h2 {
    font-size: 30px;
    text-align: center;
}

.imagem_baixar {
    margin-top: 20px;
}

/* PRODUTOS - FEIRAQUI */

.produtos_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.produtos {
    margin-top: 40px;
    background-color: var(--body);
    border-radius: 15px;
    width: 95%;
    color: var(--text);
}

.explorar a {
    text-align: end;
    color: #5FB800 !important;
    text-decoration: none;
}

.categorias {
    margin-top: 30px;
}


.item-categoria {
    margin: 20px;
    text-align: center;
}

.item-categoria a {
    color: var(--text);
    text-decoration: none;
}

.item-categoria:hover {
    transform: scale(1.1);
}

.itens_categorias {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

/*OFERTAS*/

.ofertas {
    margin-top: 50px;
}

.itens-produtos {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.item-produto {
    display: flex;
    flex-direction: column;
    box-shadow: var(--box);
    border-radius: 6px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    align-items: center;
}

.item-produto:hover {
    transform: scale(1.2);
}

.button {
    background-color: var(--main);
    width: 80%;
    height: 30px;
    color: white;
    border-radius: 9px;
    text-decoration: none;
    border: none;
}

.button:hover {
    opacity: .65;
}

a .button {
    text-decoration: none;
}

p span {
    font-size: 10px;
    text-decoration: line-through;
    color: red;
}

.nome-produto {
    font-weight: bold;
}

.quantidade {
    font-size: 10px;
}

/*FEIRAS PRÓXIMAS*/

.section_feiras {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.feirasproximas {
    background-color: var(--body);
    border: 1px solid var(--main);
    border-radius: 15px;
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 500px
}

.mapa {
    border-radius: 15px;
    margin-left: 100px;
}

.add-cep {
    margin-left: 200px;
    transform: scale(1.2);
    color: var(--text);
}

.titulo-feira {
    color: var(--main);
}

.input-group i {
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.input-group input{
    height: 40px;
}

div .input-group-text {
    background-color: var(--main);
    height:40px;
}

.button-feiraProxima{
    color: #fff !important;
    text-decoration: none;
    background-color: var(--main);
    height: 40px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

/*SOBRE NÓS*/

.section_sobre {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sobre_nos {
    background-color: var(--body);
    border-radius: 15px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sobre_nos_titulo {
    color: var(--main);
    margin-top: 20px;
    width: 1220px;
    height: 120px;
    background-color: rgba(196, 196, 196, 0.2);
    border-radius: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.sobre-feiraqui {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sobre-v {
    border: 1px solid var(--main);
    border-radius: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    width: 1000px;
    margin-bottom: 40px;
}

.imagem-v {
    background-color: var(--main);
    border-radius: 20px;
}

.imagem-v img {
    transform: scale(0.5);
}

.imagem_logo {
    width: 150px;
    margin-top: 50px;
}

.texto-v {
    margin-left: 30px;
}

.texto-v h4 {
    color: var(--main);
}

.footer {
    background-color: var(--main);
    margin-top: 50px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.meuPerfilFregues-body .footer {
    margin-top: 0px;
}

.footer-info {
    color: #fff;
    font-size: small;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-info button {
    background-color: transparent;
    border: none;
    color: #fff;
}

/*MODAL*/

.modal-body {
    display: flex;
}

.modal-body img {
    transform: scale(0.5);
}

/* PÁGINA - LOGIN */

.login_section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    color: var(--text);
}

.login_info {
    border: 1px solid #000;
    padding: 30px 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    width: 450px;
}

.titulo_login {
    color: var(--main);
    font-weight: 700;
    font-size: 32px;
    text-align: center;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.input_emailsenha {
    background-color: rgba(196, 196, 196, 0.29);
    border-radius: 20px;
    border: transparent 1px solid;
    margin-top: 15px;
    height: 40px;
    color: var(--text);
}

.input_emailsenha::placeholder {
    padding: 20px;
}

.infosenha {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.botao_entrar {
    background-color: var(--main);
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 35px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

.divbotao_entrar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.opcao_gouf {
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.opcao_gouf a {
    color: var(--text);
    text-decoration: none;
    margin: 5px;
    font-size: 15px;
}

.entrar_opcao {
    border: 1px solid;
    border-radius: 10px;
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 2px;
}

.entrar_opcao h6 {
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-left: 5px;
}

.entrar_opcao img {
    width: 20px;
}

.cadastro {
    display: flex;
    justify-content: center;
}

.cadastro a {
    color: var(--main);
    text-decoration: none;
    margin-left: 15px;
}

.imagem_login img {
    margin-left: 50px;
    height: 600px;
}

.ou_linha {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.linha-horizontal {
    width: 150px;
    border: 1px solid var(--text);
    background-color: rgb(41, 39, 39);
}

/*TELA DE CADASTRO*/
.cadastrarComo {
    margin-top: 200px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--main);
}

.tituloCadastrarComo {
    margin-right: 500px;
}

.categoriasCadastro {
    display: flex;
    justify-content: space-around;
    height: 500px;
    width: 900px;
    margin-bottom: 50px;
}

.cadastrar {
    background-color: var(--body);
    margin: 50px;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    box-shadow: var(--box);
    border: 2px solid var(--main);
    border-radius: 10px;
}

.cadastrar:hover {
    transform: scale(1.1);
}

.cadastrar img {
    transform: scale(0.6);
}

.cadastrar a {
    text-decoration: none;
    color: var(--main);
    text-align: center;
}

.cadastrar a:hover {
    color: var(--main);
}

/*CADASTRO FREGUES*/

.bemvindoFregues {
    color: var(--text);
    margin-top: 130px;
    margin-left: 20%;
    margin-bottom: 40px;
}

.informacoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--main);
}

.inputsCadastro {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.inputsdoCadastro {
    width: 500px;
    height: 40px;
    border: none;
    margin: 30px 30px 0 0;
    background-color: #EEEEEE;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.botaoCadastro {
    border: none;
    background-color: var(--main);
    width: 400px;
    height: 30px;
    border-radius: 10px;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 20px;
}

.termosCadastro {
    display: flex;
    color: var(--text);
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.termosCadastro label {
    margin-left: 20px;
}

input[type=checkbox] {
    transform: scale(1.5);
    cursor: pointer;
}

.fazerLogin {
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fazerLogin a {
    text-decoration: none;
    color: var(--main);
    margin-top: -18px;
    margin-left: 10px;
}

.ou_linhaCadastro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    color: var(--text);
}

.linha-horizontalCadastro {
    margin: 20px;
    width: 300px;
    border: 1px solid var(--text);
    background-color: var(--text);
}

/*TELA DE CADASTRO - ENTREGADOR*/

.codigoSeguranca {
    border: 2px solid var(--main);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text);
    margin-top: 50px;
    width: 600px;
    padding: 30px 20px;
}

.codigoSeguranca input {
    border-radius: 10px;
    border: 1px solid var(--main);
    width: 200px;
    margin-bottom: 20px;
    height: 40px;
}

.codigoSeguranca input:focus {
    outline: none;
}

.codigoSeguranca input::placeholder {
    padding: 15px;
}

.codigoSeguranca input[type=number] {
    -moz-appearance: textfield;
}

.codigoSeguranca a {
    color: var(--main);
    margin-left: 10px;
    text-decoration: none;
}

.codigoSeguranca p {
    color: var(--text);
}


.codigoSeguranca h4 {
    color: var(--main);
    margin-bottom: 20px;
}

.formasEntrega {
    color: rgba(0, 0, 0, 0.54);
    display: flex;
}

.entregaItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(0.8);
}


.entregaItem p {
    color: var(--text);
    font-size: 25px;
}

.entregaItem:hover {
    transform: scale(0.9);
    cursor: pointer;
}

.documentos {
    display: flex;
}

.quadradoDocumentos {
    width: 220px;
    height: 250px;
    border: 2.5px solid var(--main);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 30px;
    color: var(--text);
    font-weight: bold;
}

.quadradoDocumentos img {
    transform: scale(0.8);
}

.quadradoDocumentos img:hover {
    transform: scale(1);
    cursor: pointer;
}

form h5 {
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.sectionCNH {
    color: var(--text);
    text-align: center;
}

.sectionCNH h4 {
    color: var(--main);
    margin: 40px 0 30px 0;
    text-align: centera;
}

.quadradoCNH {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
}

.quadradoCNH h5 {
    color: var(--text);
    margin-top: 10px;
}

.quadradoCNH a {
    color: var(--main);
    text-decoration: none;
    margin-left: 10px;
    font-weight: 600;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.informacoesBancarias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--main);
}

/*PAINEL ADM*/
.SectionPainelAdm {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.containerPainelAdm {
    background-color: var(--main);
    border-radius: 15px;
    box-shadow: 0 2px 5px var(--main);
    overflow: hidden;
    width: 700px;
    max-width: 100%;
}

.header {
    border-bottom: 2px solid var(--main);
    background-color: var(--body);
    color: var(--text);
    padding: 20px 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h2 {
    justify-content: center;
    align-items: center;
}

.formPainel {
    padding: 30px 40px;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-family: inherit;
    font-size: 20px;
    padding: 20px;
    margin-top: 20px;
    width: 100%;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-control2 input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.formPainel button {
    background-color: #5FB800;
    border: 2px solid #5FB800;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-family: sans-serif bold;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}

#quantidadeNmr {
    width: 30%;
}

input[type="file"] {
    display: none;
}

.labelArquivo {
    background-color: #5FB800;
    border: 2px solid #5FB800;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-family: sans-serif bold;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
}

.quantidadeFrutas {
    display: flex;
}

#quantidade {
    border-radius: 5px;
    margin-left: 20px;
    border: 1px solid rgb(208, 208, 208);
}

/* SOBRE NÓS */
.sectionSobreNos {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quadrado-sobreNos {
    display: flex;
    flex-direction: row;
}

.textoSobre-nos {
    background-color: var(--main);
    height: 400px;
    width: 400px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
}

.imgSobre-nos img {
    width: 400px;
    height: 400px;

}

.imgSobre-nos img:hover {
    transform: rotate(5deg);
}


/*CONTATO*/
.contato {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--body);
}

.entreEmContato {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-bottom: 50px;
}

.entreEmContato h2 {
    color: var(--main);
    margin-bottom: 50px;
    margin-top: 30px;
    text-align: center;
}

.formContato {
    background-color: var(--body);
    width: 1000px;
    border: 2px var(--main) solid;
    border-radius: 10px;
}

.inputContato {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.inputContato input {
    width: 800px;
    height: 50px;
    border: 1px solid #848383;
    margin-top: 10px;
    padding: 20px;
    border-radius: 5px;
}

.inputContato label {
    font-size: 23px;
    color: #848383;
}

.formContato button {
    background-color: #5FB800;
    border: 2px solid #5FB800;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-family: sans-serif bold;
    font-size: 16px;
    padding: 10px;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 50px;
    cursor: pointer;
}

#mensagemContato {
    height: 200px;
    display: flex;
}

.localizacao {
    margin-top: 40px;
}

.nomeCompletoContato {
    margin-top: 30px;
}

/*CAARRINHO*/
.carrinhoFregues {
    margin-top: 80px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.1px solid #a4a4a4;
    position: absolute;
    border-radius: 20px;
    top: 0%;
    right: 1%;
    background-color: var(--body);
    transform: scaleY(0);
    color: var(--text);
}


.carrinhoFregues.active {
    transform: scaleY(1);
}


.carrinhoFregues h4 {
    color: var(--main);
    font-size: 30px;
    border-top: 0px solid;
    border-bottom: var(--main) solid 3px;
    width: 350px;
    height: 50px;
    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
    font-weight: bold;
}

.produtoCarrinho {
    color: red;
}

.precoFrutaCarrinho {
    margin-top: -15px;
    font-size: 12px;
    text-align: center;
}

.contadorBotao {
    cursor: pointer;
    background-color: #5FB800;
    width: 20px;
    height: 20px;
    color: var(--text);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    font-weight: bolder;
    margin: 0px 10px;
}

.itemCarrinho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 350px;
}

.totalCarrinho {
    border: 1px solid var(--main);
    width: 350px;
    text-align: center;
    margin: 50px;
    font-weight: bolder;
}

.finalizarPedido {
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 35px;
    margin-bottom: 50px;
}

.circulo1 img {
    position: absolute;
    bottom: 0px;
    right: 0px;
    transform: rotate('90deg');
}

.circulo2 img {
    position: absolute;
    width: 200px;
    bottom: 0px;
    right: 10px;
    transform: rotate('90deg');
}

.itemCarrinho .imagem img {
    width: 80px;
    margin: 0px 10px 0px 0px;
}

.itemCarrinho .imagem {
    margin-left: 30px;
}

.contador {
    display: flex;
    flex-direction: row;
}

/*FINALIZANDO PEDIDO*/
.finalizar-pedido {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.divFinalizar-pedido h4 {
    color: #FF8827;
    text-align: center;
    margin: 30px;
}

.pagamentoPix {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    font-size: 15px;
}

.pagamentoPix img {
    width: 200px;
    margin-bottom: 50px;
}

.linhaVertical {
    width: 0px;
    border: 0.5px solid #fff;
    height: 600px;
    margin: 0px 50px 0px 50px;
}

.divFinalizar-pedido .form {
    background-color: var(--main);
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    height: 700px;
    padding: 20px;
}

.divFinalizar-pedido .form button {
    background-color: #5FB800;
    border: none;
    color: #fff;
    height: 40px;
    width: 420px;
    border-radius: 5px;
    margin: 20px 0px 40px 0px;
}

.pagamentoCartao img {
    width: 350px;
    margin-top: 50px;
}

.pagamentoCartao {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.valorTotal {
    font-size: 30px;
    font-weight: bold;
}

.inputPagamento {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.inputPagamento input {
    width: 420px;
    border: none;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
}

.validade-cvv {
    display: flex;
}

.validade-cvv input {
    width: 200px;
}

/*PERFIL FREGUES*/
.perfilFregues {
    position: absolute;
    background-color: var(--body);
    width: 350px;
    right: 2%;
    top: 70px;
    border-radius: 0px 0px 20px 20px;
    transform: scaleY(0);
}


.perfilFregues.active {
    transform: scaleY(1);
}

.img-fregues img {
    width: 100px;
    height: 100px;
    border-radius: 360px;
}

.div-perfil {
    display: flex;
    background-color: var(--main);
    justify-content: center;
    align-items: center;
    color: var(--body);
    border-radius: 10px 10px 0px 0px;
}

.informacoes-fregues {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    text-align: start;
    justify-content: start;
    padding: 30px;
}

.informacoes-fregues p {
    margin-top: -5px;
    text-align: start;
}

.informacoes-fregues p i {
    color: var(--text);
    font-size: 15px;
    margin-right: 11px;
    margin-left: 0px;
}

.links-perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}

.links-perfil a {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
}

.produtos-feirante {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.div-produtosFeirante {
    background-color: var(--body);
    color: var(--text);
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 20px;
}

.texto-editar {
    margin: 50px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0px 50px;
}

.texto-editar a {
    color: var(--main);
    text-decoration: none;
    font-size: 20px;
}

.links-perfil i {
    margin-right: 30px;
    font-size: 30px;
}

/*FEIRANTES*/
.paragrafoFormaNegocio {
    color: #848383;
    margin-top: -20px;
}

.formasEmpresaDiv {
    display: flex;
    margin-top: 20px;
}

.formaEmpresa {
    color: #848383;
    background-color: #F2F2F2;
    width: 400px;
    text-align: center;
    height: 130px;
    margin: 0px 30px 0px 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formaEmpresa:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/*PERFIL FEIRANTE*/

.perfilFeirante {
    position: absolute;
    background-color: var(--body);
    width: 350px;
    right: 2%;
    top: 70px;
    border-radius: 0px 0px 20px 20px;
    transform: scaleY(0);
}

.perfilFeirante.active {
    transform: scaleY(1);
}

.capa-feira {
    transform: scale(0.8);
    margin-top: 50px;
}

.perfil-feirante img {
    border-radius: 360px;
    height: 200px;
    width: 200px;
    position: relative;
    margin-top: -120px;
    margin-left: 250px;
}

.buttonVerMaisFeirante {
    border: none;
    background-color: transparent;
    color: var(--main);
    margin-bottom: 15px;
    margin-right: px;
}

.informacoesFeira-Feirante {
    display: flex;
    align-items: center;
    margin-left: 350px;
    font-size: 20px;
}

.informacoes-principaisFeira {
    color: var(--text);
    display: flex;
    position: relative;
    width: 100%;
    justify-content: end;
    margin: -100px 0px 0px -150px;
}

.input-search {
    border: none;
    background-color: transparent;
    width: 330px;
    color: var(--text);
}

.input-search:focus {
    outline: none;
}

#searchButton {
    cursor: pointer;
}

.search-feirante {
    border: 2px solid var(--main);
    width: 400px;
    display: flex;
    height: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.area-pesquisa {
    width: 93%;
    display: flex;
    justify-content:space-between;
    margin-top: 100px;
}

.adicionar-produto a{
    background-color: #FF8827;
    color: white;
    padding: 15px 30px 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 200px;
}

.adicionar-produto a i{
    color: white;
    margin-right: 30px;
}

.adicionar-produto a:hover{
    color: #fff;

}

.item-produto-img {
    width: 150px;
}

.item-produto-feirante {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--main);
    box-shadow: var(--box);
    border-radius: 8px;
    border-radius: 6px;
    margin: 20px;
    padding: 20px 10px;
    text-align: center;
    align-items: center;
    background-color: var(--body);
    width: 200px;
}

.item-produto-feirante button {
    margin-top: 20px;
}

.item-produto-feirante:hover {
    transform: scale(1.1);
}

/*ITEM PEDIDOS*/

.section-pedidos {
    color: var(--text);
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-pedidos h2 {
    padding: 40px;
}


.item-pedidos {
    display: flex;
    width: 900px;
    justify-content: center;
    align-items: center;
    background-color: var(--body);
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.nome-pedido {
    margin: 0px 50px 0px 30px;
}

.nome-pedido h3 {
    margin-bottom: 40px;
}

.horario-botao p {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.finalizar {
    padding: 10px 40px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(92.29deg, rgba(250, 30, 35, 0.74) 0%, rgba(250, 30, 35, 0.76) 14.48%, rgba(250, 30, 35, 0.7) 24.36%, rgba(251, 55, 36, 0.7) 33.75%, rgba(253, 83, 37, 0.74) 46.94%, rgba(254, 110, 38, 0.83) 62.95%, rgba(255, 136, 39, 0.96) 75.16%, #FF8827 100%);
    width: 180px;
    color: #fff;
}

.pedido-finalizado {
    padding: 10px 40px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(92.29deg, #939393 0%, rgba(147, 147, 147, 0.9) 18.12%, rgba(147, 147, 147, 0.8) 33.23%, rgba(147, 147, 147, 0.7) 49.9%, rgba(147, 147, 147, 0.6) 66.56%, rgba(147, 147, 147, 0.5) 83.23%, rgba(147, 147, 147, 0.4) 100%);
    ;
    width: 180px;
    color: #fff;
}

.pedido-entregue {
    padding: 10px 40px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(272.02deg, #FFE000 0.25%, rgba(255, 209, 6, 0.9) 15.22%, rgba(255, 192, 14, 0.8) 29.76%, rgba(255, 184, 18, 0.918644) 44.31%, #FFB414 60.41%, rgba(255, 164, 27, 0.8) 74.96%, rgba(255, 150, 33, 0.9) 87.43%, #FF8827 100%);
    width: 180px;
    color: #fff;
}

/* ÁREA DE PEDIDOS */

.pedido-visao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: linear-gradient(103.11deg, #FA1E23 0%, rgba(251, 44, 36, 0.9) 13.02%, rgba(251, 58, 36, 0.8) 26.56%, rgba(254, 108, 38, 0.8) 73.44%, rgba(254, 123, 39, 0.9) 88.02%, #FF8827 100%);
    border-radius: 12px;
    height: 130px;
    width: 300px;
    color: #fff;
}

.item-visaoPedido {
    display: flex;
    gap: 150px;
    margin-top: 50px;
}

.item-visaoPedido p {
    text-align: center;
}

.linha-vertical-pedidos {
    height: 90px;
    background-color: #fff;
    border: 1px solid #fff;
    width: 0;
}

.grafico-vendas img {
    width: 1000px;
    margin-top: 50px;
}

/* CATEGORIAS */

.categorias-section {
    margin-top: 100px;
}

.categorias-section h2 {
    color: #FF8827;
    text-align: center;
    font-size: 40px;
}

.cor-verde {
    color: #5FB800;
    margin-left: 10px;
}

.cor-laranja {
    color: #FF8827;
    font-size: 50px;
}

.categorias-itens {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    gap: 30px;
}

.item-categoria-explorar {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    height: 250px;
    width: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}

.item-categoria-explorar img {
    transform: scale(0.8);
}

.item-categoria-explorar button{
    background-color: transparent;
}

.item-categoria-explorar a{
    color: #000;
    text-decoration: none;
}

.item-categoria-explorar:hover {
    transform: scale(1.1);
    cursor: pointer;
}


/*Tela inicial - entregador*/

.painel-feirante {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.label-online {
    color: #868686;
    font-size: 28px;
}

.informacao-entregador {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 200px;
}

.icon-online {
    display: flex;
    align-items: center;
    gap: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #33f321;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2eb30d;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.mapa-entregador {
    transform: scale(0.8);
}

.linha-vertical {
    width: 0px;
    border: 0.5px solid rgb(0, 0, 0);
    height: 100px;
    margin: 0px 50px 0px 50px;
}

.valor-forma {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.informacoes-pedido-entregador {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.informacoes-pedido-entregador button {
    margin-left: 720px;
}

.info-p {
    font-size: 25px;
}

.proximas-entregas-entregador h2 {
    text-align: center;
    padding: 80px 0px;
}


.item-pedidos-entregador {
    display: flex;
    flex-direction: column-reverse;
    width: 400px;
    height: 300px;
    justify-content: center;
    align-items: center;
    background-color: var(--body);
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    gap: 20px;
}

.nome-pedido-entregador {
    margin: 0px 50px 0px 30px;
}

.nome-pedido h3 {
    margin-bottom: 40px;
}

.imagem-horario-entregador {
    display: flex;
    gap: 30px;
}

.imagem-horario-entregador img {
    width: 130px;
}

.itens-pedidos-entregador {
    display: flex;
    gap: 10px;
}

.aceitar-corrida-entregador {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 300px;
    justify-content: center;
    align-items: center;
    background-color: var(--body);
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    gap: 20px;
}

.aceitar-corrida-entregador a{
    color: #FF8827;
    text-decoration: none;
}

.aceitar-entrega {
    background-color: #FF8827;
    color: #fff;
    width: 200px;
    height: 40px;
    border-radius: 5px;
}

.localizacao-entrega{
    display: flex;
}

.localizacao-entrega img{
    width: 30px;
    height: 30px;
}


.entregafinalizada-pendente i{
    color: #fff;
    margin-right: 20px;
}

.desempenho-entregador{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.desempenho-entregador h2{
    margin: 50px 0px;
}

.entregas-finalizadas-entregador{
    background-color: #FF8827;
    width: 1000px;
    color: #fff;
    display: flex;
    height: 300px;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    border-radius: 15px;
}

.linha-vertical-branca{
    width: 0px;
    border: 0.5px solid rgb(255, 255, 255);
    height: 200px;
}

.valor-recebido-entregador{
    text-align: center;
}

.entregafinalizada-pendente{
    text-align: center;
}

.ver-historico{
    width: 100%;
    text-align: end;
    padding-right: 260px;
    margin-top: 10px;
}

.ver-historico a{
    text-decoration: none;
    color: #FF8827 !important;
    font-size: 28px;
}

/*Alert*/

.alert {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #262626;
}
.breve{
    text-transform: uppercase;
    font-size: 20px;
}

/* Todas as barracas*/
.imagem-barraca{
    height: 150px;
    width: 150px;
}

.instrucoes-maps{
    text-decoration: none;
    background-color: transparent;
    color: #2eb30d;
    text-align: center;
}

.categorias-cereais{
    height: 500px;
}